.post-request {
  &__container {
    align-items: center;
  }
  &__form {
    display: flex;
    max-width: 380px;
    width: 100%;
    flex-direction: column;
  }
}

.form {
  &__text-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  &__checkbox-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 25px;
    margin-bottom: 47px;
  }

  &__checkbox-title {
    margin-bottom: 11px;
  }
  &__checkbox-radio {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  &__checkboxes {
    display: grid;
    gap: 7px;
  }

  &__button {
    margin-top: 50px;
    min-width: 100px;
    align-self: center;
  }
  &__input-text-container {
    position: relative;
  }
}

.text-input-container {
  &__text-input {
    width: 100%;
  }
  &__label {
    position: absolute;
    background: #F8F8F8;
    font-size: 12px;
    line-height: 14px;
    color: #7E7E7E;
    top: -7px;
    padding: 0 4px;
    left: 11px;
  }
}



.container-upload {
  &__button {
    border: 1px solid black;
    background-color: white;
    border-radius: 4px 0 0 4px;
    padding: 14px 15px;
  }
}


// $ RADIO BUTTONS STYLE

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

// Initial radio buttons display none
input[type="radio"] {
  display: none;
}

// Before checked styles
input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  
  width: 18px;
  height: 18px;

  margin-right: 12px;
  border: 1px solid #D0CFCF;
  border-radius: 50%;
}

// CHECKED
input[type="radio"]:checked + *::before {
  background: radial-gradient(#00BDD3 0%, #00BDD3 40%, transparent 42%, transparent);
  border-color: #00BDD3;
}



// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

// INPUT FILE
.container-upload {
  position: relative;
  display: flex;
  &__file-input {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    outline: none;
  }
  .file__placeholder {
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    flex: 1;
  }
}