.header {
  &__container {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
  }
  &__logo {
    display: flex;
  }
  &__img {
    width: 104px;
    height: 26px;
  }
  &__buttons {
    display: flex;
    gap: 10px;
  }
  &__button {
  min-width: 100px;
  }
}

