.get-request {

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
    gap: 29px;
  }
  &__button {
    align-self: center;
    min-width: 124px;
  }
}

@media (max-width: 768px) {
  .get-request {
    &__content {
      gap: 16px;
    }
  }
}

@media (max-width: 360px) {
  .get-request {
    &__content {
      gap: 20px;
    }
  }
}